doctype html
html(ng-app='app')
head(lang='en')
    meta(charset='UTF-8')
    title Tic-Tac-Toe | HarpB
    link(rel='stylesheet', type='text/css', href='bower_components/semantic/dist/semantic.min.css')
    link(rel='stylesheet', type='text/css', href='style/tic_tac_toe.css')

body.ui
    h1.ui.header
        | Tic-Tac-Toe
        a.button.ui(href='https://github.com/harpb/tic-tac-toe')
            i.github.icon
            | Source
    tic-tac-toe


    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/lodash/lodash.min.js')
    script(src='bower_components/semantic/dist/semantic.min.js')
    script(src='bower_components/angular/angular.js')
    // Angular App
    script(src='app/tic_tac_toe_app.js')
    script(src='app/directives/tic_tac_toe_directive.js')
    script(src='app/directives/cell_directive.js')
